name: Matrix Configurations

on:
    push:
    workflow_dispatch:

jobs:
    deploy-to-ubuntu:
        strategy:
            matrix:
                os: [ubuntu-latest,ubuntu-20.04]
                images: [alpine,hello-world]
        runs-on: ubuntu-latest
        steps:
            - name: Echo Docker Details
              run: docker info
            - name: Run Image on
              run: docker run hello-world